@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.modal-fullscreen > .ant-card-head-title  {
    padding-left: 12px;
}

.modal-fullscreen > .ant-modal, .ant-modal-content  {
    height: 95vh;
    width: 95vw;
    margin: 2.5vh;
    top: 0;
   }

.modal-fullscreen >.ant-modal-body {
height: calc(95vh - 110px);
}

body {
    margin:0px;
}
