.ant-layout-sider-trigger{
    background-color: #d1956a !important;
}

.ant-layout-sider{
    height : auto  !important;
    min-height: 100vh !important;
}

.ant-layout-sider-trigger{
    color:white !important;
}